.navbar-static-top {
  margin-bottom: 10px;
}
.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}
.navbar-default .navbar-brand {
  color: #800000;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #800000;
}
.navbar-default .navbar-text {
  color: #800000;
}
.navbar-default .navbar-nav > li > a {
  color: #800000;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #800000;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #800000;
  background-color: #ffffff;
}

.avatar {
  padding-top: 5%;
  align-content: center;
}

.container {

  padding-top: 12px;
  width: auto;
  max-width: 800px;
  text-align: center;
}
.container .text-muted {
  margin: 20px 0;
}

.padd {

  padding-top: 50px;
}

.container a {
  color: #800000;
}
.container a:hover {
  color: #800000;
}
.img-responsive {
 display: block;
 height: auto;
 max-width: 100%;
}
.panel-default h4 {
  text-align: left;
  line-height: 24px;
  font-size: 22px;
}
.panel-default h5 {
  text-align: left;
  line-height: 30px;
  font-size: 18px;
}
.panel-default h6 {
  font-size: 15px;
}
.panel-default h4 a, h5 a {
  color: #27A822;
}
.panel-default h4 a:hover, h5 a:hover {
  color: #267723;
}

.social {
  padding-top: 12px;
  word-spacing: 25px;
}

.hr { 
  height: 30px; 
  border-style: solid; 
  border-color: #800000; 
  border-width: 5px 0 0 0; 
  border-radius: 20px; 
} 
.hr:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #800000; 
  border-width: 0 0 5px 0; 
  border-radius: 20px;
} 

.horizontal_line {
    
    display: block;
    margin-top: 2em;
    margin-bottom: 6em;
    margin-left: 180px;
    margin-right: 180px;
    border-style: solid;
    border-width: 7px;
    border-color: #800000;
    border-radius: 15px;
}

.horizontal_line_bottom {
    
    display: block;
    margin-top: 8em;
    margin-bottom: 5em;
    margin-left: 420px;
    margin-right: 420px;
    border-style: solid;
    border-width: 7px;
    border-color: #800000;
    border-radius: 15px;
}